<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= Awesome Developer Skills! %></h1>
    <p>Skills  <%= title %></p>
  </body>
</html>
